/* Contact.module.css */

.contact {
  background-color: #454c59;
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* Profile picture styling */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Heading styling */
h2 {
  font-size: 2rem;
  color: #f0e14a; /* Golden color */
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  position: relative;
}

/* Underline effect */
h2::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #f0e14a;
  margin: 10px auto 0;
}

/* Contact information */
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for each contact item */
.contactInfo p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 15px;
}

/* Icon styling */
.icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #f0e14a; /* Golden color */
}

/* Link styling */
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f0e14a; /* Golden color on hover */
  text-decoration: underline;
}
